@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@media screen and (min-width: 801px) {

body {
margin: 10px;
padding: 5px;
}

header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  font-size: 3vw;
  font-family: 'Dancing Script', cursive;

  }

/* Add your CSS styling for the header image here */

nav {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
}

/* Add your CSS styling for the burger menu here */

.nav-menu {
  list-style: none;
  margin: 0 auto;
}

.nav-menu li {
  display: inline-block;
  margin-right: 20px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu li a {
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: #333;
}

main {
  margin: 0 auto;
  padding: 0 20px;
}

section {
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

/* Styling for Section 1 */
#section1 {
  background-color: #ffffff; /* Change the background color as desired */
}

/* Styling for Section 2 */
#section2 {
  background-color: #F8B500; /* Change the background color as desired */
  width: 95%;
  margin: 0 auto;
  border: 1.5vw solid #1A1A1A;

}

/* Styling for Section 3 */
#section3 {
  background-color: #ffffff; /* Change the background color as desired */
}

/* Styling for Section 4 */
#section4 {
  background-color: #ffffff;/* Change the background color as desired */
  
}

h1
{
  margin-left: 4vw;
  text-align:left;
  font-size: 9vw;
  color: #fc8940;
  text-stroke: 2px #000000;
  -webkit-text-stroke: 0.07vw #000000;
    
}

h3{
  text-align: center;
  font-size: 4vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

h2,h4
{
text-align: center;
 font-size: 4vw;
 color: #F8B500;
 margin-bottom: 5vw;
 
}
/* h4 */
/* { */
/* text-align: ; */
 /* font-size: 4vw; */
 /* color: #F8B500; */
 /* margin-bottom: 5vw; */
 
/* } */

.header-image
{
 max-height: 20vw;
margin-left:5vw; 
}
	

.paragraph0{
	
  font-size: 2vw;
  text-align: justify;
  max-width: 100%;
  font-family: 'Pangolin', cursive;
	
}
	
.paragraph1,.paragraph2,.paragraph2, .paragraph3, .paragraph4{
  font-size: 2vw;
  text-align: center-left;
  max-width: 100%;
  font-family: 'Pangolin', cursive;
}

.paragraph5,.paragraph6{
  font-size: 2vw;
  text-align: center;
  max-width: 100%;
  font-family: 'Pangolin', cursive;
}

.paragraph7{
	
  font-size: 1vw;
  text-align: center;
  max-width: 100%;
  font-family: 'Pangolin', cursive;
	
}

.center-image {
  text-align: center;
  margin-bottom: 1vw;
}

.center-image img {
  width: 5vw;
  height: 5vw;
}


.button-container {
  /* text-align: center ; */
  position:fixed;
  bottom: 3vw;
  right: 0.2vw;
  display: inline-block;
  justify-content: center;
  padding: 0px 0px;
  background-color: #transparent; /* Change to desired background color */
  color: #000000; /* Change to desired text color */
  border-radius: 1vw;
  margin-right: 10px; /* Adjust as needed */
}

.whatsapp-button, .instagram-button  {
  display: flex;
  justify-content: center;
  padding: 0px 0px;
  background-color: #transparent; /* Change to desired background color */
  color: #000000; /* Change to desired text color */
  text-decoration: none;
  border-radius: 5px;
  margin-right: 1vw; /* Adjust as needed */
  opacity: 0;
  animation: fade-in 2s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.whatsapp-button img{
  width: 4vw;
  height: 4w;
  margin-right: 0.5vw;    
}

.instagram-button  img{
  width: 4.4vw;
  height: 4.4vw;
  margin-right: 0.5vw;   
 
}

<style>
  .slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw; /* Adjust the height as per your requirement */
    padding-bottom: 10px;

  }

  .slideshow-slide {
    text-align: center;
  }

  .slideshow-image {
    max-width: 100%;
    max-height: 40vw; /* Adjust the height as per your requirement */
	border: 1vw solid #1A1A1A; 
    
  }

  .slideshow-text p {
    font-family: 'Pangolin', cursive; /* Specify the desired font family */
    font-size: 2vw; /* Adjust the font size as per your preference */
    color: #1A1A1A; /* Specify the desired text color */
    margin-top:2vw;
    
  }
   
.phone-link{
  color: #1A1A1A;
  font-weight: bold;
  text-align:center;
}

.footer-text{
  font-size: 1vw;
  text-align: center;
 
}
.divider {
  border-top: 0.5vw solid #1A1A1A;
}
}

/* Responsive styles */
@media screen and (max-width: 800px) {
body {
margin: 10px;
padding: 5px;
}

header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  font-size: 3vw;
  font-family: 'Dancing Script', cursive;

  }

/* Add your CSS styling for the header image here */

nav {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
}

/* Add your CSS styling for the burger menu here */

.nav-menu {
  list-style: none;
  margin: 0 auto;
}

.nav-menu li {
  display: inline-block;
  margin-right: 20px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu li a {
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: #333;
}

main {
  margin: 0 auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

/* Styling for Section 1 */
#section1 {
  background-color: #ffffff; /* Change the background color as desired */
}

/* Styling for Section 2 */
#section2 {
  background-color: #F8B500; /* Change the background color as desired */
  width: 85%;
  margin: 0 auto;
  border: 1.5vw solid #1A1A1A;

}

/* Styling for Section 3 */
#section3 {
  background-color: #ffffff; /* Change the background color as desired */
}

/* Styling for Section 4 */
#section4 {
  background-color: #ffffff;/* Change the background color as desired */
  
}

h1
{
  margin-left: 4vw;
  text-align:left;
  font-size: 9vw;
  color: #fc8940;
  text-stroke: 2px #000000;
  -webkit-text-stroke: 0.07vw #000000;
    
}

h3{
  text-align: center;
  font-size: 4vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

h2,h4
{
text-align: center;
 font-size: 4vw;
 color: #F8B500;
 margin-bottom: 5vw;
 
}
/* h4 */
/* { */
/* text-align: ; */
 /* font-size: 4vw; */
 /* color: #F8B500; */
 /* margin-bottom: 5vw; */
 
/* } */

.header-image
{
 max-height: 20vw;
margin-left:5vw; 
}
	

.paragraph0{
	
  font-size: 2vw;
  text-align: justify;
  max-width: 100%;
  font-family: 'Pangolin', cursive;
	
}
	
.paragraph1,.paragraph2,.paragraph2, .paragraph3, .paragraph4{
  font-size: 2vw;
  text-align: center-left;
  max-width: 100%;
  font-family: 'Pangolin', cursive;
}

.paragraph5,.paragraph6{
  font-size: 2vw;
  text-align: center;
  max-width: 100%;
  font-family: 'Pangolin', cursive;
}

.paragraph7{
	
  font-size: 1vw;
  text-align: center;
  max-width: 100%;
  font-family: 'Pangolin', cursive;
	
}

.center-image {
  text-align: center;
  margin-bottom: 1vw;
}

.center-image img {
  width: 15vw;
  height: 15vw;
}


.button-container {
  /* text-align: center ; */
  position:fixed;
  bottom: 10vw;
  right: 0.5vw;
  display: inline-block;
  justify-content: center;
  padding: 0px 0px;
  background-color: #transparent; /* Change to desired background color */
  color: #000000; /* Change to desired text color */
  border-radius: 1vw;
  margin-right: 10px; /* Adjust as needed */
}

.whatsapp-button, .instagram-button  {
  display: flex;
  justify-content: center;
  padding: 0px 0px;
  background-color: #transparent; /* Change to desired background color */
  color: #000000; /* Change to desired text color */
  text-decoration: none;
  border-radius: 5px;
  margin-right: 1px; /* Adjust as needed */
  opacity: 0;
  animation: fade-in 2s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.whatsapp-button img{
  width: 10vw;
  height: 10w;
  margin-right: 0.5vw;    
}

.instagram-button  img{
  width: 10vw;
  height:10vw;
  margin-right: 0.5vw;   
 
}

<style>
  .slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw; /* Adjust the height as per your requirement */
    padding-bottom: 10px;

  }

  .slideshow-slide {
    text-align: center;
  }

  .slideshow-image {
    max-width: 100%;
    max-height: 40vw; /* Adjust the height as per your requirement */
	border: 1vw solid #1A1A1A; 
    
  }

  .slideshow-text p {
    font-family: 'Pangolin', cursive; /* Specify the desired font family */
    font-size: 2vw; /* Adjust the font size as per your preference */
    color: #1A1A1A; /* Specify the desired text color */
    margin-top:2vw;
    
  }
   
</style>

.phone-link{
  color: #1A1A1A;
  font-weight: bold;
  text-align:center;
}

.footer-text{
  font-size: 1vw;
  text-align: center;
  
}
.divider {
  border-top: 0.5vw solid #000000;
}
} 
